<form [formGroup]="studentGroup" (ngSubmit)="save()">
  <div formGroupName="student">
    <div *ngIf="invalidFullName" class="alert alert-danger">{{ invalidFullName }}</div>
    <div class="input-group flex-nowrap ipu">
      <div class="input-group-prepend">
      </div>
      <input [value]="student.fullName"  formControlName="fullName"  type="text" class="form-control" placeholder="Full Name"
              aria-label="Username" aria-describedby="addon-wrapping">
    </div>

    <div class="input-group flex-nowrap ipu">
      <div class="input-group-prepend">
      </div>
      <input [value]="student.age"  formControlName="age" type="text" class="form-control" placeholder="Age"
             aria-label="Password" aria-describedby="addon-wrapping">
    </div>

    <div class="input-group flex-nowrap ipu">
      <div class="input-group-prepend">
      </div>
      <input [value]="student.address"  formControlName="address" type="text" class="form-control" placeholder="Address"
             aria-label="Password" aria-describedby="addon-wrapping">
    </div>

    <div class="input-group flex-nowrap ipu">
      <div class="input-group-prepend">
      </div>
      <input [value]="student.phone"  formControlName="phone" type="text" class="form-control" placeholder="Phone"
             aria-label="Gender" aria-describedby="addon-wrapping">
    </div>


    <select [value]="student.gender" formControlName="gender" class="form-select" aria-label="Default select example">
      <option value="MALE">MALE</option>
      <option value="FEMALE">FEMALE</option>
    </select>
  </div>


  <div>
    <button class="btn btn-primary">Save</button>
  </div>
</form>
